@import "tailwindcss";
@import "@nuxt/ui-pro";

:root {
  --font-sans: 'Public Sans', sans-serif;
  --color-primary: #0d9488;
  --color-secondary: #7c3aed;
  --color-success: #84cc16;
  --color-info: #06b6d4;
  --color-warning: #f59e0b;
  --color-error: #ec4899;
  --color-neutral: #78716c;
}
